
.svg-container{
  display: flex;
  justify-content: center;
  align-items: center;

  .viz{
    width: 100%;
    height: 100%;

    *{
      shape-rendering: auto;
    }

    .center {
    r: 100px;
    cx: 450px;
    cy: 200px;
    fill: none;
    stroke: purple;
    stroke-width: 5px;
    }
  }
}

.arc {
  stroke: yellow;
  // fill: yellow;
  opacity: 0.5;
}

text{
  font: 10px sans-serif;
  stroke: lightyellow;
  text-anchor: middle;
}

circle{

  &.dots {
  r: 5px;
  fill: orange;
  }

  &.clockcircle{

  }
}

.petal {
  fill: none;
  stroke: lightyellow;
  r: 3px;
}
